# Foundry
.foundry/
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/

# Node
node_modules/
webapp/.next/
webapp/out/
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
.env.example
**/.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
